@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

:root {
  --green: green;
  --textShadow: #20d4d4d6;
  --navColour: #eee8e8;
  --black: black;
  --homecolor: #ffcd4f;
}

body {
  overflow-x: hidden;
  height: 1000vh;
}



/* Navbar start */

#nav-logo {
  object-fit: cover;
  width: 200px;
  height: 100px;

}

.menu-list>a {
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  color: var(--black);
}

.menu-list {
  list-style-type: none;
}

.menu-list-phone {
  width: 100%;
  list-style-type: none;
  padding: 4px;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 3px solid #e6e4e4;
}

.menu-list-phone>a {
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  color: var(--black);
}

.menu-list>a:hover,
.menu-list-phone>a:hover {
  color: var(--green);
  text-shadow: 0px 0px 3px var(--textShadow);
}


.nav-icons:hover {
  color: var(--green);
  text-shadow: 0px 0px 3px var(--textShadow);
}

.social-icon-holder {
  gap: 20px;
}

.navbar {
  box-shadow: 0px 11px 20px 1px #00000075 !important;
  background-color: var(--navColour);
  z-index: 100;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: block;
}

.list-content {
  list-style: none;
  position: absolute;
  top: 116px;
  right: 9px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 8px;
  width: 13em;
  opacity: 1;
  transform: translateX(146px);
  transition: all 0.4s ease-in-out;
  visibility: hidden;
}

.show-menu {
  opacity: 1;
  transform: translateX(0);
  right: -9px;
  /* Move into view */
  visibility: visible;
}

.hamburger {
  color: #25a9e0;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {

  #nav-logo {
    width: 153px;
    height: 80px;
  }

  .head-para{
    font-size: 2em;
  }
}

/* Navbar end */



/* Home page start */
.home-image {
  background-image: url("../components/icons/home.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 44rem;
  background-attachment: fixed;
  gap: 2rem;
}

.title-para {
  color: var(--homecolor);
}

.head-para {
  display: inline;
  width: 55%;
  font-size: 4em;
  color: var(--homecolor);
}

.hidden {
  opacity: 0;
  transform: translateY(-100px);
  filter: blur(55);
  transition: all 1s ease-in-out ;

}

.show {
  opacity: 1;
  transform: translateY(0px);
  filter: blur(0);

}

/* Home page end */